.li-header {
    display: inline;
    padding: 5px;
}

.ul-header {
    display: inline;
    padding-left: 0px;
}

.blog-header {
    text-align: center;
}

.blog-date {
    text-align: center;
    color: grey;
}

.center {
    text-align: center
}

h1 {
    letter-spacing: 0.217391em;
}

.entry {}

.entry-header {
    text-align: center;
}

.entry-date {
    text-align: center;
    color: lightgrey;
}

.entry-text {
    text-align: justify;
}

.blog {
    width: 60%;
}

.spotify {
    text-align: center;
}

.img-hor {
    width: 80%;
}

.us-photo {
    padding-bottom: 25px;
}

.gal {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.gal img {
    width: 100%;
}

@media (max-width: 500px) {
    .gal {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}